.gitignore file
.venv/
.env/
venv/

# Python cache and runtime files
__pychache__/
*.pyc
*.log

# Pytest cache
.pytest_cache/

# IDE/Editor files
.idea/
*.swp
*~

# OS specific files
.DS_Store
[Tt]humbs.db
._* # macOS "dot underscore" files that contain resource fork data